<a href="https://colab.research.google.com/github/Rohan-45-design/23BDS0276/blob/main/Digital_Assignment_23BDS0276.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import os
import pandas as pd
import numpy as np
data = pd.read_csv("/content/Database.csv")
data

,rownames,state,statecode,year,consumption,price,eprice,oprice,lprice,heating,income
0,1,NY,35,1967,313656,1.42,2.98,7.40,1.47,6262,10903.75
1,2,NY,35,1968,319282,1.38,2.91,7.77,1.42,6125,11370.02
2,3,NY,35,1969,331326,1.37,2.84,7.96,1.38,6040,11578.68
3,4,NY,35,1970,346533,1.40,2.87,8.33,1.37,6085,11586.77
4,5,NY,35,1971,352085,1.50,3.07,8.80,1.40,5907,11657.42
...,...,...,...,...,...,...,...,...,...,...,...
133,134,CA,5,1985,527495,5.72,7.78,30.58,5.84,2694,14368.46
134,135,CA,5,1986,464307,5.14,7.95,44.15,5.72,2192,14580.77
135,136,CA,5,1987,503473,5.26,8.03,35.24,5.14,2502,14915.05
136,137,CA,5,1988,497138,5.64,8.69,34.02,5.26,2366,15340.38
137,138,CA,5,1989,514276,5.59,9.45,44.44,5.64,2420,15532.93

In [5]:
#Outlier Detection
import pandas as pd
mean_income = data['income'].mean()
print("Mean income = ",mean_income)
mean_consumption = data['consumption'].mean()
print("Mean consumption = ",mean_consumption)
def detect_outliers(data_column):
  Q1 = data_column.quantile(0.25)
  Q3 = data_column.quantile(0.75)
  IQR = Q3 - Q1
  lower_bound = Q1 - 1.5*IQR
  upper_bound = Q3 + 1.5*IQR
  return ((data_column < lower_bound) | (data_column > upper_bound))

outliers_consumption = detect_outliers(data['consumption'])
outliers_income = detect_outliers(data['income'])
print("Outliers in Consumption:")
print(data['consumption'][outliers_consumption])
print("\nOutliers in Income:")
print(data['income'][outliers_income])

Mean income =  11193.235652173913
Mean consumption =  252901.47826086957
Outliers in Consumption:
Series([], Name: consumption, dtype: int64)

Outliers in Income:
21    15946.92
22    16425.33
Name: income, dtype: float64

In [7]:
#Average consumption per state
average_consumption = data.groupby('state')['consumption'].mean()
print("States with their corresponding average consumption: ")
print(average_consumption)

#Average consumption per year
average_cons_year = data.groupby('year')['consumption'].mean()
print("Average yearly consumption: ")
print(average_cons_year)

States with their corresponding average consumption:
state
CA    545725.000000
FL     14736.869565
MI    340548.695652
NY    336216.782609
TX    230214.521739
UT     49967.000000
Name: consumption, dtype: float64
Average yearly consumption:
year
1967    231337.000000
1968    236078.666667
1969    250504.833333
1970    255106.333333
1971    271222.333333
1972    276386.833333
1973    267725.666667
1974    259150.000000
1975    266818.833333
1976    266315.000000
1977    248378.666667
1978    256815.166667
1979    277829.000000
1980    258016.000000
1981    244518.166667
1982    253327.166667
1983    241011.833333
1984    241369.333333
1985    245588.333333
1986    232895.833333
1987    236503.833333
1988    244999.833333
1989    254835.333333
Name: consumption, dtype: float64

In [12]:
#Using binning to categorize the consumption
data["Consumption_Category"] = pd.cut(data['consumption'],bins=3,labels=['Low','Medium','High'])
# Example: Discretizing 'price' into 3 equal-width bins
data['Price_Category'] = pd.cut(data['price'], bins=3, labels=['Low', 'Medium', 'High'])
# Example: Discretizing 'income' into 3 equal-frequency bins
data['Income_Category'] = pd.qcut(data['income'], q=3, labels=['Low', 'Medium', 'High'])
print(data)

     rownames state  statecode  year  consumption  price  eprice  oprice  \
0           1    NY         35  1967       313656   1.42    2.98    7.40
1           2    NY         35  1968       319282   1.38    2.91    7.77
2           3    NY         35  1969       331326   1.37    2.84    7.96
3           4    NY         35  1970       346533   1.40    2.87    8.33
4           5    NY         35  1971       352085   1.50    3.07    8.80
..        ...   ...        ...   ...          ...    ...     ...     ...
133       134    CA          5  1985       527495   5.72    7.78   30.58
134       135    CA          5  1986       464307   5.14    7.95   44.15
135       136    CA          5  1987       503473   5.26    8.03   35.24
136       137    CA          5  1988       497138   5.64    8.69   34.02
137       138    CA          5  1989       514276   5.59    9.45   44.44

     lprice  heating    income Consumption_Category Price_Category  \
0      1.47     6262  10903.75               Medium            Low
1      1.42     6125  11370.02               Medium            Low
2      1.38     6040  11578.68               Medium            Low
3      1.37     6085  11586.77               Medium            Low
4      1.40     5907  11657.42               Medium            Low
..      ...      ...       ...                  ...            ...
133    5.84     2694  14368.46                 High           High
134    5.72     2192  14580.77                 High         Medium
135    5.14     2502  14915.05                 High         Medium
136    5.26     2366  15340.38                 High           High
137    5.64     2420  15532.93                 High         Medium

    Income_Category
0            Medium
1            Medium
2            Medium
3            Medium
4            Medium
..              ...
133            High
134            High
135            High
136            High
137            High

[138 rows x 14 columns]